.jumbotron-news{
	height: 500px;
	background-image: linear-gradient(to bottom right, rgba($orangeSisloc, 0.3), rgba($blueSisloc, 0.5)), url("../images/ead_bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	//Demonstracao seletor avançado CSS
	*[class$='-news_title'] {
		color: $mainColorWhite;
	}

	p[class$='-news_subTitle'] {
		color: $mainColorWhite;
		font-size: 1.6rem;
	}
}
